imports:
    - vendor/sylius/sylius/behat.yml.dist

default:
    suites:
        urbanara_tes:
            contexts_as_services:
                - sylius.behat.context.hook.doctrine_orm

                - sylius.behat.context.transform.shared_storage
                - sylius.behat.context.transform.customer
                - sylius.behat.context.transform.order

                - sylius.behat.context.setup.channel
                - sylius.behat.context.setup.order

                - urbanara.behat.context.test
            filters:
                tags: "@urbanara"
    extensions:
        Sylius\Behat\Extension\MultiContainerExtension:
            imports:
                - "src/UrbanaraBundle/Behat/Resources/services.xml"

        FriendsOfBehat\SuiteSettingsExtension:
            paths:
                - "vendor/sylius/sylius/features"
                - "features"

cached:
    extensions:
        Sylius\Behat\Extension\MultiContainerExtension:
            imports:
                - "vendor/sylius/sylius/src/Sylius/Behat/Resources/config/services.xml"
